<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Categorias <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Nueva categoria</a></li>
       
      </ul>
  </div>
</nav>